// construction-pc

// --------------------------------------------------------------------------------- > construction-pc

.construction-pc {
    padding-top: 35px;
    padding-bottom: 35px;
    @media (max-width: 992px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @media (max-width: 576px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

// --------------------------------------------------------------------------------- > photo__construction-pc

.photo__construction-pc {
    margin-top: 35px;
    @media (max-width: 992px) {
        margin-top: 25px;
    }
    @media (max-width: 576px) {
        margin-top: 20px;
    }
}