// fonts

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Gilroy-Black";
    src: url("../fonts/Gilroy-Black.ttf");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../fonts/Gilroy-Semibold.ttf");
}