// main-classes

// --------------------------------------------------------------------------------- > header

// --------------------------------------------------------------------------------- > logo

.logo-img {
    width: 166px;
    height: 79px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 1200px) {
        width: 128px;
        height: 61px;
    }
    @media (max-width: 992px) {
        width: 116px;
        height: 55px;
    }
    @media (max-width: 768px) {
        width: 108px;
        height: 51px;
    }
    @media (max-width: 576px) {
        width: 102px;
        height: 50px;
    }
}

// --------------------------------------------------------------------------------- > search

.search {
    position: relative;
}

.search-input {
    width: 316px;
    height: 40px;
    padding-left: 12px;
    padding-right: 45px;
    background: #f4f4f4;
    border: 1px solid #ccc6c6;
    border-radius: 2px;
    outline: none;
    font-family: "Gilroy-Regular";
    font-size: 15px;
    line-height: 18px;
    color: #45484a;
    @media (max-width: 1200px) {
        width: 242px;
        height: 36px;
        padding-right: 41px;
    }
}

.search-submit {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background: #dec1a0;
    border-radius: 0px 2px 2px 0px;
    border: none;
    background-image: url(../images/magnifier.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    outline: none;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 1200px) {
        width: 33.25px;
        height: 36px;
    }
}

// --------------------------------------------------------------------------------- > social

.social {
    li {
        display: inline-block;
    }
}

.social-elem {
    width: 26px;
    height: 26px;
    margin: 0 4px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 1200px) {
        width: 22px;
        height: 22px;
        margin: 0 2px;
    }
}

.social-elem__instagram {
    background-image: url(../images/instagram.png);
}

.social-elem__viber {
    background-image: url(../images/viber.png);
}

.social-elem__whatsapp {
    background-image: url(../images/whatsapp.png);
}

.social-elem__telegram {
    background-image: url(../images/telegram.png);
}

.social-elem__vk {
    background-image: url(../images/vk.png);
}

// --------------------------------------------------------------------------------- > contacts

.contacts {
    text-align: right;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    line-height: 20px;
    color: #45484a;
}

.contacts-elem {
    margin-bottom: 5px;
}

// --------------------------------------------------------------------------------- > search-btn, contacts-btn

.search-btn,
.contacts-btn {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 576px) {
        width: 32px;
        height: 32px;
    }
}

.search-btn {
    background-image: url(../images/search-btn.png);
}

.contacts-btn {
    background-image: url(../images/contacts-btn.png);
}

// --------------------------------------------------------------------------------- > btn

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 50px;
    border: 2px solid #987c66;
    border-radius: 2px;
    background-color: inherit;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    line-height: 19px;
    color: #987c66;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 1200px) {
        width: 183px;
        height: 45px;
    }
}

// --------------------------------------------------------------------------------- > btn-submit

.btn-submit {
    width: 221px;
    height: 50px;
    border: 2px solid #987c66;
    border-radius: 2px;
    background-color: inherit;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    line-height: 19px;
    color: #987c66;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 1200px) {
        width: 183px;
        height: 45px;
    }
}

// --------------------------------------------------------------------------------- > menu-btn

.menu-btn {
    width: 40px;
    height: 40px;
    background-image: url(../images/menu-btn.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &:hover {
        cursor: pointer;
    }
}

// --------------------------------------------------------------------------------- > black-screen

.black-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: rgba(69, 72, 74, 0.6);
    backdrop-filter: blur(7px);
}

// --------------------------------------------------------------------------------- > to-close-btn

.to-close-btn {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    background-image: url("../images/to-close-btn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    @media (max-width: 576px) {
        width: 18px;
        height: 18px;
    }
}

// --------------------------------------------------------------------------------- > nav

.nav {
    margin-bottom: -15px;
}

.nav-list-elem {
    position: relative;
    margin-right: 40px;
    margin-bottom: 15px;
    display: inline-block;
    font-family: "Gilroy-Bold";
    font-size: 17px;
    line-height: 21px;
    color: #2d3236;
    a:hover {
        text-decoration: underline;
    }
    @media (max-width: 1200px) {
        margin-right: 32px;
        font-size: 16px;
        line-height: 20px;
    }
}

.nav-indicator::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 7.5px;
    top: 44%;
    right: -20px;
    background-image: url("../images/nav-indicator.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 1200px) {
        top: 40%;
    }
}

.nav-sub {
    display: none;
    position: absolute;
    width: max-content;
    max-width: 320px;
    padding: 20px;
    margin-bottom: -7px;
    z-index: 3;
    font-family: "Gilroy-Regular";
    font-size: 15px;
    line-height: 120%;
    color: #45484a;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(119, 134, 148, 0.25);
}

.nav-sub-elem {
    margin-bottom: 7px;
    a:hover {
        text-decoration: none;
        border-bottom: 1px solid #c0a484;
    }
}

.nav-list-elem a:hover + .nav-sub,
.nav-sub:hover {
    display: block;
}

.nav-list-elem:hover::after {
    display: none;
}

// --------------------------------------------------------------------------------- > clear-both

.clear-both {
    clear: both;
}

// --------------------------------------------------------------------------------- > site-map

.site-map {
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    color: #2d3236;
    text-align: right;
    @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 17px;
    }
    @media (max-width: 768px) and (min-width: 575.999999px) {
        position: relative;
        bottom: 135px;
    }
}

// --------------------------------------------------------------------------------- > copyright

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
    color: #6d6d6d;
}

.copyright a:nth-child(n + 2) {
    margin-top: 8px;
    @media (max-width: 1200px) {
        margin-top: 5px;
    }
}

// --------------------------------------------------------------------------------- > tagline

.tagline {
    width: 420px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #2d3236;
    @media (max-width: 992px) {
        font-size: 26px;
    }
    @media (max-width: 768px) {
        font-size: 22px;
        width: 360px;
    }
    @media (max-width: 576px) {
        width: 320px;
    }
}

// --------------------------------------------------------------------------------- > text

.text {
    p,
    ul,
    ol,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 27px;
        @media (max-width: 1200px) {
            margin-top: 20px;
        }
        @media (max-width: 576px) {
            margin-top: 15px;
        }
    }

    ul {
        list-style: disc inside;
    }

    ol {
        list-style: decimal inside;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Gilroy-Bold";
    }
}

// --------------------------------------------------------------------------------- > heading

.heading {
    position: relative;
    margin-left: 180px;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    color: #2d3236;
    @media (max-width: 1200px) {
        font-size: 26px;
        line-height: 34px;
    }
    @media (max-width: 992px) {
        font-size: 24px;
        line-height: 31px;
        margin-left: 130px;
    }
    @media (max-width: 768px) {
        font-size: 22px;
        line-height: 29px;
        margin-left: 110px;
    }
    @media (max-width: 576px) {
        font-size: 20px;
        line-height: 26px;
        margin-left: 70px;
    }
}

.heading::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 3px;
    left: -180px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #dec1a0;
    @media (max-width: 992px) {
        width: 110px;
        left: -130px;
    }
    @media (max-width: 768px) {
        width: 90px;
        left: -110px;
    }
    @media (max-width: 576px) {
        width: 50px;
        left: -70px;
    }
}

// --------------------------------------------------------------------------------- > sub-heading

.sub-heading {
    font-family: "Gilroy-Bold";
    font-size: 18px;
    color: #2d3236;
    text-transform: uppercase;
    text-align: center;
    & a:hover {
        text-decoration: underline;
    }
    @media (max-width: 992px) {
        font-size: 17px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

// --------------------------------------------------------------------------------- > form

.form-heading {
    display: block;
    font-family: "Gilroy-Bold";
    font-size: 22px;
    line-height: 27px;
    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 25px;
    }
    @media (max-width: 576px) {
        text-align: center;
    }
}

.form-wrap {
    margin-top: 36px;
    @media (max-width: 1200px) {
        margin-top: 30px;
    }
}

.form-field-wrap {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) and (min-width: 575.999999px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.form-field {
    margin-bottom: 20px;
    @media (max-width: 768px) and (min-width: 575.999999px) {
        width: 240px;
    }
}

.form-field-heading {
    font-family: "Gilroy-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #6d6d6d;
}

.form-field-input {
    & input {
        width: 100%;
        height: 40px;
        padding: 0 12px;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        outline: none;
        font-family: "Gilroy-Regular";
        font-size: 14px;
        line-height: 18px;
        color: #6d6d6d;
    }
}

.form-submit {
    margin-top: 14px;
    width: 100%;
    @media (max-width: 1200px) {
        margin-top: 6px;
    }
}

// --------------------------------------------------------------------------------- > breadcrumbs

.breadcrumbs {
    padding-top: 198px;
    @media (max-width: 1200px) {
        padding-top: 178px;
    }
    @media (max-width: 992px) {
        padding-top: 85px;
    }
}

.breadcrumbs-list {
    margin-top: 20px;
    font-family: "Gilroy-Regular";
    font-size: 14px;
    line-height: 17px;
    color: #6d6d6d;
    @media (max-width: 992px) {
        margin-top: 16px;
    }
    @media (max-width: 576px) {
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }
}

.breadcrumbs-elem {
    display: inline-block;
    & a:hover {
        text-decoration: underline;
    }
}

.breadcrumbs-elem:nth-child(n + 2)::before {
    content: ">";
    display: inline-block;
    position: relative;
    margin-right: 2px;
    margin-left: 2px;
}

// --------------------------------------------------------------------------------- > sort

.sort-heading {
    float: left;
    font-family: "Gilroy-Bold";
    font-size: 14px;
    line-height: 18px;
    color: #2d3236;
    @media (max-width: 576px) {
        float: none;
    }
}

.sort-elem {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    font-family: "Gilroy-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #6d6d6d;

    &:nth-child(1) {
        margin-left: 10px;
        @media (max-width: 576px) {
            margin-left: 0;
        }
    }
}

//переделать при нажатии (активная) + стрелка вверх/вниз
.sort-elem__active {
    color: #987c66;

    &::before {
        position: absolute;
        width: 10px;
        height: 13px;
        right: -15px;
        top: 3px;
        background-image: url("../images/sort-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
}

// --------------------------------------------------------------------------------- > pagination

.pagination {
    margin-top: 20px;
}

.pagination-elem {
    display: flex;
    width: 156px;
    @media (max-width: 992px) {
        width: 216px;
    }
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    line-height: 17px;
    color: #2d3236;
    @media (max-width: 992px) {
        width: 36px;
        height: 36px;
    }
}

.pagination-item__active {
    color: #fff;
    background-color: #2d3236;
    border-radius: 1px;
}
