// rent-contant

// --------------------------------------------------------------------------------- > rent-contant

.rent-contant {
    padding-top: 45px;
    @media (max-width: 1200px) {
        padding-top: 30px;
    }
    @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.rent-contant-wrap {
    position: relative;
    min-height: 700px;
}

.filter-wrap {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    padding: 32px 10px;
    background-color: #f8f8f8;
    overflow-y: auto;
    @media (max-width: 1200px) {
        width: 30%;
    }
    @media (max-width: 992px) {
        display: none;
    }
}

.filter-wrap__mobile-active {
    @media (max-width: 992px) {
        display: none;
        position: fixed;
        height: 100vh;
        width: 50vw;
        top: 0;
        z-index: 3;
        padding-top: 67px;
        padding-bottom: 15px;
        overflow-y: auto;
    }
    @media (max-width: 768px) {
        width: 100vw;
    }
}

.switch {
    display: block;
}

.to-close-btn__filter {
    display: none;
    width: 18px;
    height: 18px;
    @media (max-width: 992px) {
        top: -52px;
        display: block;
    }
}

.black-screen__filter {
    display: none;
    width: 50vw;
    margin-left: 50vw;
    @media (max-width: 992px) {
        display: block;
    }
    @media (max-width: 768px) {
        width: 0;
    }
}

.equipment-wrap {
    padding-left: 12px;
    position: relative;
    width: 75%;
    margin-left: 25%;
    @media (max-width: 1200px) {
        width: 70%;
        margin-left: 30%;
    }
    @media (max-width: 992px) {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
}

.btn__filter {
    display: none;
    float: left;
    width: 133px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #987c66;
    @media (max-width: 992px) {
        display: flex;
    }
    @media (max-width: 768px) {
        width: 103px;
    }
    @media (max-width: 576px) {
        float: none;
        height: 32px;
    }
}

.sort-heading__equipment {
    @media (max-width: 992px) {
        margin-left: 36px;
    }
    @media (max-width: 768px) {
        margin-left: 25px;
    }
    @media (max-width: 576px) {
        margin-left: 0;
    }
}

.sort__equipment {
    @media (max-width: 992px) {
        padding-top: 12px;
    }
    @media (max-width: 576px) {
        padding-top: 17px;
    }
}

.sort-elem__equipment {
    @media (max-width: 576px) {
        margin-top: 3px;
    }
}

.equipment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.equipment-elem {
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid #d9d4d0;
    & * {
        width: 100%;
    }
}

.equipment-name {
    margin-top: 16px;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    line-height: 19px;
    color: #2d3236;
}

.equipment-price {
    margin-top: 20px;
    font-family: "Gilroy-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #6d6d6d;
}

.equipment-price-elem__bold {
    font-family: "Gilroy-Bold";
}

.equipment-price-elem__red {
    color: #ff0000;
}

.equipment-description {
    margin-top: 20px;
    margin-bottom: 46px;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    line-height: 17px;
    color: #2d3236;
}

.btn__equipment,
.btn__filter-off {
    width: 168px;
    height: 36px;
    margin: 0 auto;
    margin-top: 22px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #c0a484;
}

.btn__equipment {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 10px;
}

.pagination__rent-contants {
    margin-left: 25%;
    padding-left: 10px;
    @media (max-width: 1200px) {
        margin-left: 30%;
    }
    @media (max-width: 992px) {
        margin-left: 0;
        padding-left: 0;
    }
}

.pagination-elem__rent-contants {
    margin: 0 auto;
}
